@font-face {
    font-family: 'NotoSansMono';
    src:
        url('fonts/noto/NotoSansMono-Regular.ttf');
}

@font-face {
    font-family: 'NotoSansMonoBold';
    src:
        url('fonts/noto/NotoSansMono-ExtraBold.ttf');
}

@font-face {
    font-family: 'NotoSansMono_Condensed-Light';
    src: url('fonts/noto/NotoSansMono_Condensed-Light.ttf')
}

* {
    -webkit-text-size-adjust: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'NotoSansMono', monospace;
    font-size: 18px;
    color: #c8c8c8;
    background-color: #272932;
    margin: 0;
    line-height: 24px;
    margin-bottom: 24px;
}

h1 {
    font-family: 'NotoSansMonoBold', monospace;
}

h2 {
    font-family: 'NotoSansMonoBold', monospace;
}

a {
    color: #f5a9b8;
}

li {
    margin-bottom: 18px;
}

code {
    font-family: 'NotoSansMono_Condensed-Light', monospace;
    color: #272932;
    background-color: #5bcefa;
}

.sidenav {
    height: 100%;
    width: 14%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #272932;
    overflow-x: hidden;
    padding-top: 1vh;
    border-color: #f5a9b8;
    border-radius: 5px;
    border-style: solid; 
}

.sidenav p {
    padding-left: 1vw;
}

.main {
    margin-left: 16%;
    margin-right: 30%;
    padding: 0px 10px;
}

.main .banner {
    text-align: center;
}

.main .banner img {
    width: 100%;
}

.main .download {
    text-align: left;
}

.button {
    font-family: 'NotoSansMonoBold', monospace;
    background-color: #f5a9b8;
    border: none;
    color: #272932;
    padding: 15px 48px;
	margin-bottom: 30px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

.button a {
    color: #272932;
}

.button .subtitle {
    font-size: 12px;
    padding-bottom: 6px;
  }

  @media only screen and (max-device-aspect-ratio: 99 / 100) and (orientation: portrait)  {

    a {
        font-size:1.5vh;
        line-height: 3vh;
        margin-bottom: 3vh;
    }
    p {
        font-size: 1.5vh;
        line-height: 3vh;
        margin-bottom: 3vh;
    }
    code {
        font-size: 1.25vh;
    }
    body {
        font-size: 1.5vh;
        line-height: 3vh;
        margin-bottom: 3vh;
    }
    .main {
        margin-left: 24%;
        margin-right: 0%;
        padding: 0px 10px;
    }
    .button {
        padding: 6px 24px;
        margin-bottom: 20px;
        font-size: 1.5vh;
    }
    .button .subtitle {
        font-size: 1vh;
        padding-bottom: 6px;
      }
    .sidenav {
        width: 22%;
    }
}

@media only screen and (max-height: 650px) and (orientation: landscape)  {

    a {
        font-size: 2vw;
        line-height: 4vw;
        margin-bottom: 4vw;
    }
    p {
        font-size: 2vw;
        line-height: 4vw;
        margin-bottom: 4vw;
    }
    code {
        font-size: 2vw;
    }
    body {
        font-size: 2vw;
        line-height: 4vw;
        margin-bottom: 4vw;
    }
    .main {
        margin-left: 22%;
        margin-right: 0%;
        padding: 0px 10px;
    }
    .button {
        padding: 6px 24px;
        margin-bottom: 20px;
        font-size: 2vw;
    }
    .button .subtitle {
        font-size: 1vw;
        padding-bottom: 6px;
      }
    .sidenav {
        width: 22%;
    }
}